### 04 잠재 요인 협업 필터링

#### SGD를 이용한 행렬 분해

In [4]:
import numpy as np

# 원본 행렬 R 생성
R = np.array([[4, np.NaN, np.NaN, 2, np.NaN],
              [np.NaN, 5, np.NaN, 3, 1],
              [np.NaN, np.NaN, 3, 4, 4],
              [5, 2, 1, 2, np.NaN]])
num_users, num_items = R.shape

# 잠재요인 차원 K = 3으로 설정
K = 3

# P,Q행렬 크기 지정
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

In [5]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
  error = 0
  # P, Q.T의 내적으로 예측 R 행렬 생성
  full_pred_matrix = np.dot(P, Q.T)

  # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스를 추출해 RMSE 추출
  x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
  y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
  R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
  full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
  mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
  rmse = np.sqrt(mse)

  return rmse

In [6]:
# R > 0인 행위치, 열위치, 값을 non_zeros 리스트에 저장
non_zeros = [ (i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] >0 ]

steps = 1000  # SGD 반복 업데이트 횟수
learning_rate = 0.01  # SGD 학습률
r_lambda = 0.01  # L2 규제 계수

# SGD 기법으로 P와 Q 매트릭스 업데이트 행렬 분해 수행
for step in range(steps):
  for i, j, r in non_zeros:
    eij = r-np.dot(P[i,:],Q[j,:].T)
    P[i,:]=P[i,:]+learning_rate*(eij*Q[j,:]-r_lambda*P[i,:])
    Q[j,:]=Q[j,:]+learning_rate*(eij*P[i,:]-r_lambda*Q[j,:])

    rmse = get_rmse(R,P,Q,non_zeros)
    if (step%50)==0:
      print("### iteration step : ", step, " rmse : ", rmse)

### iteration step :  0  rmse :  3.261355059488935
### iteration step :  0  rmse :  3.26040057174686
### iteration step :  0  rmse :  3.253984404542389
### iteration step :  0  rmse :  3.2521583839863624
### iteration step :  0  rmse :  3.252335303789125
### iteration step :  0  rmse :  3.251072196430487
### iteration step :  0  rmse :  3.2492449982564864
### iteration step :  0  rmse :  3.247416477570409
### iteration step :  0  rmse :  3.241926055455223
### iteration step :  0  rmse :  3.2400454107613084
### iteration step :  0  rmse :  3.240166740749792
### iteration step :  0  rmse :  3.2388050277987723
### iteration step :  50  rmse :  0.5003190892212749
### iteration step :  50  rmse :  0.5001616291326989
### iteration step :  50  rmse :  0.49899601202578087
### iteration step :  50  rmse :  0.498848345014583
### iteration step :  50  rmse :  0.4989518925663175
### iteration step :  50  rmse :  0.49833236830090993
### iteration step :  50  rmse :  0.49841484893787
### iteration step :  50  rmse :  0.49792599580240865
### iteration step :  50  rmse :  0.4900605568692785
### iteration step :  50  rmse :  0.4890370238665434
### iteration step :  50  rmse :  0.4886917602399784
### iteration step :  50  rmse :  0.4876723101369647
### iteration step :  100  rmse :  0.1591152198857856
### iteration step :  100  rmse :  0.15880916178010918
### iteration step :  100  rmse :  0.15874092217089
### iteration step :  100  rmse :  0.1582856952842508
### iteration step :  100  rmse :  0.15830809482168753
### iteration step :  100  rmse :  0.15828832993767394
### iteration step :  100  rmse :  0.1578748689309283
### iteration step :  100  rmse :  0.1579207360656706
### iteration step :  100  rmse :  0.1572524521545708
### iteration step :  100  rmse :  0.15710664164665206
### iteration step :  100  rmse :  0.15690252144189998
### iteration step :  100  rmse :  0.15643403848192478
### iteration step :  150  rmse :  0.07546004875264435
### iteration step :  150  rmse :  0.07544589133447104
### iteration step :  150  rmse :  0.07543234329653013
### iteration step :  150  rmse :  0.07514800672233916
### iteration step :  150  rmse :  0.0751886769641818
### iteration step :  150  rmse :  0.07522889509938413
### iteration step :  150  rmse :  0.07489318864469251
### iteration step :  150  rmse :  0.0749340042593324
### iteration step :  150  rmse :  0.07462695506527857
### iteration step :  150  rmse :  0.07464332131959654
### iteration step :  150  rmse :  0.07464441641563409
### iteration step :  150  rmse :  0.07455141311978043
### iteration step :  200  rmse :  0.04361016579439085
### iteration step :  200  rmse :  0.04370913068953015
### iteration step :  200  rmse :  0.04369072102767988
### iteration step :  200  rmse :  0.043475549832271476
### iteration step :  200  rmse :  0.043531309253735856
### iteration step :  200  rmse :  0.043592400375752974
### iteration step :  200  rmse :  0.043296479060538504
### iteration step :  200  rmse :  0.04332057192123633
### iteration step :  200  rmse :  0.043104482945025197
### iteration step :  200  rmse :  0.043135502866585594
### iteration step :  200  rmse :  0.04313786864806281
### iteration step :  200  rmse :  0.043252267985793194
### iteration step :  250  rmse :  0.02939518318560967
### iteration step :  250  rmse :  0.029544029484371584
### iteration step :  250  rmse :  0.02950187436758174
### iteration step :  250  rmse :  0.029329609713572444
### iteration step :  250  rmse :  0.029402118073276508
### iteration step :  250  rmse :  0.029467205684175015
### iteration step :  250  rmse :  0.02918929419179125
### iteration step :  250  rmse :  0.02919875742674748
### iteration step :  250  rmse :  0.02899574226000219
### iteration step :  250  rmse :  0.029044154450545406
### iteration step :  250  rmse :  0.029049587101179362
### iteration step :  250  rmse :  0.029248328780879015
### iteration step :  300  rmse :  0.022678715233749498
### iteration step :  300  rmse :  0.02284487386430053
### iteration step :  300  rmse :  0.022773566650325167
### iteration step :  300  rmse :  0.022632345073225223
### iteration step :  300  rmse :  0.022720062551531188
### iteration step :  300  rmse :  0.022778917442558288
### iteration step :  300  rmse :  0.02251624306238131
### iteration step :  300  rmse :  0.022515508246519707
### iteration step :  300  rmse :  0.022294916652985435
### iteration step :  300  rmse :  0.022367287171783084
### iteration step :  300  rmse :  0.02239230348065322
### iteration step :  300  rmse :  0.02262111614382958
### iteration step :  350  rmse :  0.019516973680183895
### iteration step :  350  rmse :  0.019681605297160506
### iteration step :  350  rmse :  0.019585635379668485
### iteration step :  350  rmse :  0.019467165455249902
### iteration step :  350  rmse :  0.019565686789792477
### iteration step :  350  rmse :  0.01961402007587041
### iteration step :  350  rmse :  0.01936839332929634
### iteration step :  350  rmse :  0.019361014872335037
### iteration step :  350  rmse :  0.019116038405167596
### iteration step :  350  rmse :  0.019209815479975027
### iteration step :  350  rmse :  0.019255623979392386
### iteration step :  350  rmse :  0.019493636196525124
### iteration step :  400  rmse :  0.01803666559195485
### iteration step :  400  rmse :  0.018191331063344383
### iteration step :  400  rmse :  0.018078504374883824
### iteration step :  400  rmse :  0.017975545929527277
### iteration step :  400  rmse :  0.018080509676856125
### iteration step :  400  rmse :  0.018118882879536963
### iteration step :  400  rmse :  0.017889686482489547
### iteration step :  400  rmse :  0.017878066671070655
### iteration step :  400  rmse :  0.017612244339685876
### iteration step :  400  rmse :  0.017720967349047007
### iteration step :  400  rmse :  0.017781796456598015
### iteration step :  400  rmse :  0.01802271909213296
### iteration step :  450  rmse :  0.017334045429542366
### iteration step :  450  rmse :  0.017476834937591827
### iteration step :  450  rmse :  0.017353619075108434
### iteration step :  450  rmse :  0.017260553985290868
### iteration step :  450  rmse :  0.017369093850106637
### iteration step :  450  rmse :  0.017399933857257913
### iteration step :  450  rmse :  0.017184317578637604
### iteration step :  450  rmse :  0.017169906496251323
### iteration step :  450  rmse :  0.016888615795793115
### iteration step :  450  rmse :  0.01700663815408334
### iteration step :  450  rmse :  0.01707679250866178
### iteration step :  450  rmse :  0.017319685953442937
### iteration step :  500  rmse :  0.016991609248052927
### iteration step :  500  rmse :  0.017123408915786315
### iteration step :  500  rmse :  0.016993984056410536
### iteration step :  500  rmse :  0.016907070492030333
### iteration step :  500  rmse :  0.017017605772217705
### iteration step :  500  rmse :  0.017043277556700643
### iteration step :  500  rmse :  0.016838031459003776
### iteration step :  500  rmse :  0.016821674312725528
### iteration step :  500  rmse :  0.016529281264429214
### iteration step :  500  rmse :  0.01665288879519852
### iteration step :  500  rmse :  0.01672854127549099
### iteration step :  500  rmse :  0.016973657887570857
### iteration step :  550  rmse :  0.01681896971626637
### iteration step :  550  rmse :  0.01694144559744481
### iteration step :  550  rmse :  0.01680825929888418
### iteration step :  550  rmse :  0.016725234339747624
### iteration step :  550  rmse :  0.016836938491435187
### iteration step :  550  rmse :  0.016859187050621338
### iteration step :  550  rmse :  0.016661644526141797
### iteration step :  550  rmse :  0.01664385102006523
### iteration step :  550  rmse :  0.0163434460754945
### iteration step :  550  rmse :  0.016470440821826443
### iteration step :  550  rmse :  0.01654932331426961
### iteration step :  550  rmse :  0.016796804595895498
### iteration step :  600  rmse :  0.01672743971743916
### iteration step :  600  rmse :  0.016842259158977226
### iteration step :  600  rmse :  0.01670668792446738
### iteration step :  600  rmse :  0.01662625564460935
### iteration step :  600  rmse :  0.016738696939262703
### iteration step :  600  rmse :  0.016758682415985684
### iteration step :  600  rmse :  0.01656685720005281
### iteration step :  600  rmse :  0.016547954461110674
### iteration step :  600  rmse :  0.016241668760761052
### iteration step :  600  rmse :  0.016370800056138085
### iteration step :  600  rmse :  0.016451627209257188
### iteration step :  600  rmse :  0.016701322901884686
### iteration step :  650  rmse :  0.016674291334806114
### iteration step :  650  rmse :  0.01678289558888489
### iteration step :  650  rmse :  0.016645698091647624
### iteration step :  650  rmse :  0.01656714079916203
### iteration step :  650  rmse :  0.016680091021598543
### iteration step :  650  rmse :  0.01669855427143079
### iteration step :  650  rmse :  0.016511017732427854
### iteration step :  650  rmse :  0.016491228766905255
### iteration step :  650  rmse :  0.01618054419796185
### iteration step :  650  rmse :  0.01631111150707517
### iteration step :  650  rmse :  0.01639316772050056
### iteration step :  650  rmse :  0.016644736912476636
### iteration step :  700  rmse :  0.016638362442608492
### iteration step :  700  rmse :  0.016741936743323527
### iteration step :  700  rmse :  0.0166035241890016
### iteration step :  700  rmse :  0.016526454393300385
### iteration step :  700  rmse :  0.016639792083379325
### iteration step :  700  rmse :  0.01665720134529714
### iteration step :  700  rmse :  0.016472928381641265
### iteration step :  700  rmse :  0.016452412570473487
### iteration step :  700  rmse :  0.016138379086448103
### iteration step :  700  rmse :  0.0162699937479048
### iteration step :  700  rmse :  0.016352885085045565
### iteration step :  700  rmse :  0.016605910068210022
### iteration step :  750  rmse :  0.01660906046895527
### iteration step :  750  rmse :  0.016708562969098305
### iteration step :  750  rmse :  0.016569153528341686
### iteration step :  750  rmse :  0.016493367054249863
### iteration step :  750  rmse :  0.01660702796687087
### iteration step :  750  rmse :  0.01662368102752532
### iteration step :  750  rmse :  0.016441927271724627
### iteration step :  750  rmse :  0.016420802465343626
### iteration step :  750  rmse :  0.016104179990850738
### iteration step :  750  rmse :  0.016236628551953007
### iteration step :  750  rmse :  0.016320141009291966
### iteration step :  750  rmse :  0.016574200475704817
### iteration step :  800  rmse :  0.016581161561119887
### iteration step :  800  rmse :  0.016677363428436953
### iteration step :  800  rmse :  0.016537069269613625
### iteration step :  800  rmse :  0.016462461377778778
### iteration step :  800  rmse :  0.01657641235048769
### iteration step :  800  rmse :  0.016592501800249685
### iteration step :  800  rmse :  0.01641271740942844
### iteration step :  800  rmse :  0.016391072859801598
### iteration step :  800  rmse :  0.01607242307736887
### iteration step :  800  rmse :  0.016205589842521965
### iteration step :  800  rmse :  0.01628960943009157
### iteration step :  800  rmse :  0.016544315829216127
### iteration step :  850  rmse :  0.016552228984315596
### iteration step :  850  rmse :  0.01664575121547572
### iteration step :  850  rmse :  0.0165046273281904
### iteration step :  850  rmse :  0.016431145801748905
### iteration step :  850  rmse :  0.016545370571042346
### iteration step :  850  rmse :  0.016561024020104852
### iteration step :  850  rmse :  0.016382795627019615
### iteration step :  850  rmse :  0.016360700076085616
### iteration step :  850  rmse :  0.016040446344395498
### iteration step :  850  rmse :  0.016174269580681095
### iteration step :  850  rmse :  0.016258737354641232
### iteration step :  850  rmse :  0.016513751774734887
### iteration step :  900  rmse :  0.01652128043377785
### iteration step :  900  rmse :  0.016612624200841326
### iteration step :  900  rmse :  0.016470695682261987
### iteration step :  900  rmse :  0.01639831498916535
### iteration step :  900  rmse :  0.016512806333073504
### iteration step :  900  rmse :  0.016528110873501874
### iteration step :  900  rmse :  0.016351122754892426
### iteration step :  900  rmse :  0.016328629783842214
### iteration step :  900  rmse :  0.016007096878603463
### iteration step :  900  rmse :  0.016141544071514365
### iteration step :  900  rmse :  0.016226430843994187
### iteration step :  900  rmse :  0.016481465738195242
### iteration step :  950  rmse :  0.016488081335748483
### iteration step :  950  rmse :  0.01657765213497492
### iteration step :  950  rmse :  0.01643492933498206
### iteration step :  950  rmse :  0.016363636620406307
### iteration step :  950  rmse :  0.016478391959548904
### iteration step :  950  rmse :  0.016493409030606757
### iteration step :  950  rmse :  0.016317416842511267
### iteration step :  950  rmse :  0.016294568571753463
### iteration step :  950  rmse :  0.01597200954596558
### iteration step :  950  rmse :  0.016107063458795954
### iteration step :  950  rmse :  0.016192355609214858
### iteration step :  950  rmse :  0.016447171683479235

In [7]:
# 예측 행렬 출력
pred_matrix = np.dot(P, Q.T)
print('예측 행렬:\n', np.round(pred_matrix, 3))

예측 행렬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

### 05 콘텐츠 기반 필터링 실습

#### 데이터 로딩 및 가공

In [9]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('C:/Users/lgpc/Downloads/tmdb_5000_movies.csv/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [10]:
# 콘텐츠 기반 필터링 추천 분석에 사용할 주요 칼럼만 추출
movies_df = movies[['id','title','genres','vote_average','vote_count','popularity','keywords','overview']]

In [11]:
# 딕셔너리 형태로 된 자료 존재
pd.set_option('max_colwidth', 100)
movies_df[['genres','keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [13]:
# 딕셔너리를 분해해 개별 장르를 파이썬 객체로 추출
from ast import literal_eval   # 코랩에서는 적용 X

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

#### 장르 콘텐츠 유사도 측정

In [15]:
# count 벡터화 적용하여 피처 벡터 행렬 생성
from sklearn.feature_extraction.text import CountVectorizer

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [17]:
# 코사인 유사도 계산
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [18]:
# 유사도가 높은 순으로 정렬
genre_sim_sorted_ind = genre_sim.argsort()[:,::-1]
print(genre_sim_sorted_ind[:1])
# 0번인 자신의 인덱스 제외 3494번 레코드가 가장 유사도 높고, 2401번 레코드가 가장 유사도 낮음

[[   0 3494  813 ... 3038 3037 2401]]

#### 장르 콘텐츠 필터링을 이용한 영화 추천

In [19]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title']==title_name]
    
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    return df.iloc[similar_indexes]

In [20]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [22]:
# 왜곡된 평가 데이터를 가지고 있음
movies_df[['title', 'vote_average','vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [23]:
# 가중 평점으로 새롭게 평점 부여 (공식 : 교재 p.610)
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:', round(C,3), ' m:', round(m,3))

C: 6.092  m: 370.2

In [31]:
# 가중 평점으로 변경하는 함수 생성
percentile=0.6
m = movies['vote_count'].quantile(percentile)
C = movies['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    return ((v/(v+m)) * R)+((m/(m+v)) * C)

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [32]:
# weighted_vote 평점이 높은 순으로 추출
movies_df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote',ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [33]:
# 가중평점으로 변경
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title']==title_name]
    title_index = title_movie.index.values
    
    # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추cnf
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    return df.iloc[similar_indexes].sort_values('weighted_vote',ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

### 06 아이템 기반 최근접 이웃 협업 필터링 실습

#### 데이터 가공 및 변환

In [34]:
import pandas as pd
import numpy as np
movies = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/movies.csv")
ratings = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings.csv")
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [35]:
# 사용자 로우, 영화 칼럼 데이터 세트로 변경
ratings = ratings[['userId','movieId','rating']]
ratings_matrix = ratings.pivot_table('rating',index='userId',columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# ratings와 movies를 조인해 칼럼명 변경
rating_movies = pd.merge(ratings, movies, on='movieId')
ratings_matrix = rating_movies.pivot_table('rating',index='userId',columns='title')

# NaN 값을 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 영화 간 유사도 산출

In [37]:
# 영화를 기준으로 코사인유사도 적용하기 위해 전치 행렬로 변경
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
# 코사인 유사도
from sklearn.metrics.pairwise import cosine_similarity
item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [39]:
# 영화 '대부'와 유사도가 높은 상위 6개 영화 추출
item_sim_df["Godfather, The (1972)"].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [40]:
# '인셉션'
item_sim_df["Inception (2010)"].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

#### 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천

In [44]:
# 개인화된 예측 평점 계산 함수 (공식 : 교재 p.619)
def predict_rating(rating_arr, item_sim_arr):
    ratings_pred = rating_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [46]:
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

In [48]:
# mse
from sklearn.metrics import mean_squared_error

def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print("아이템 기반 모든 최근접 이웃 MSE : ",get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE :  9.895354759094706

In [52]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)
    
    for col in range(ratings_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
    return pred

In [53]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE : ', get_mse(ratings_pred, ratings_matrix.values))

ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)

아이템 기반 최근접 TOP-20 이웃 MSE :  3.694999233129397

In [54]:
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[user_rating_id>0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Producers, The (1968)                                                             5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Back to the Future (1985)                                                         5.0
Austin Powers in Goldmember (2002)                                                5.0
Minority Report (2002)                                                            4.0
Witness (1985)                                                                    4.0
Name: 9, dtype: float64

In [55]:
def get_unseen_movies(ratings_matrix, userId):
    user_rating = ratings_matrix.loc[userId, :]
    
    already_seen = user_rating[user_rating>0].index.tolist()
    movies_list = ratings_matrix.columns.tolist()
    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    return unseen_list

In [56]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

unseen_list = get_unseen_movies(ratings_matrix, 9)
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                                                                pred_score
title
Shrek (2001)                                                                                      0.866202
Spider-Man (2002)                                                                                 0.857854
Last Samurai, The (2003)                                                                          0.817473
Indiana Jones and the Temple of Doom (1984)                                                       0.816626
Matrix Reloaded, The (2003)                                                                       0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    0.765159
Gladiator (2000)                                                                                  0.740956
Matrix, The (1999)                                                                                0.732693
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                                     0.689591
Lord of the Rings: The Return of the King, The (2003)                                             0.676711

### 07 행렬 분해를 이용한 잠재 요인 협업 필터링 실습

In [57]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
    num_users, num_items = R.shape
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size=(num_users, K))
    Q = np.random.normal(scale=1./K, size=(num_items, K))
    
    prev_rmse=10000
    break_count = 0
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]
    
    for step in range(steps):
        for i, j, r in non_zeros:
            eij = r - np.dot(P[i,:], Q[j,:].T)
            P[i, :] = P[i, :] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j, :] = Q[j, :] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
        
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 10) == 0:
            print("### iteration step : ", step, " rmse : ", rmse)
    return P, Q

In [58]:
import pandas as pd
import numpy as np

movies = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/movies.csv")
ratings = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings.csv")
ratings = ratings[['userId','movieId','rating']]
ratings_matrix = ratings.pivot_table('rating',index='userId',columns='movieId')

rating_movies=pd.merge(ratings, movies, on='movieId')
ratings_matrix = rating_movies.pivot_table('rating',index='userId',columns='title')

In [59]:
P,Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)
pred_matrix = np.dot(P,Q.T)

### iteration step :  0  rmse :  2.9023619751336867
### iteration step :  10  rmse :  0.7335768591017927
### iteration step :  20  rmse :  0.5115539026853442
### iteration step :  30  rmse :  0.37261628282537446
### iteration step :  40  rmse :  0.29608182991810134
### iteration step :  50  rmse :  0.2520353192341642
### iteration step :  60  rmse :  0.22487503275269854
### iteration step :  70  rmse :  0.20685455302331537
### iteration step :  80  rmse :  0.19413418783028683
### iteration step :  90  rmse :  0.18470082002720403
### iteration step :  100  rmse :  0.17742927527209104
### iteration step :  110  rmse :  0.1716522696470749
### iteration step :  120  rmse :  0.1669518194687172
### iteration step :  130  rmse :  0.16305292191997542
### iteration step :  140  rmse :  0.15976691929679643
### iteration step :  150  rmse :  0.1569598699945732
### iteration step :  160  rmse :  0.15453398186715428
### iteration step :  170  rmse :  0.15241618551077643
### iteration step :  180  rmse :  0.1505508073962831
### iteration step :  190  rmse :  0.1488947091323209

In [60]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.055084,4.092018,3.564130,4.502167,3.981215,1.271694,3.603274,2.333266,5.091749,3.972454,...,1.402608,4.208382,3.705957,2.720514,2.787331,3.475076,3.253458,2.161087,4.010495,0.859474
2,3.170119,3.657992,3.308707,4.166521,4.311890,1.275469,4.237972,1.900366,3.392859,3.647421,...,0.973811,3.528264,3.361532,2.672535,2.404456,4.232789,2.911602,1.634576,4.135735,0.725684
3,2.307073,1.658853,1.443538,2.208859,2.229486,0.780760,1.997043,0.924908,2.970700,2.551446,...,0.520354,1.709494,2.281596,1.782833,1.635173,1.323276,2.887580,1.042618,2.293890,0.396941

In [61]:
unseen_list = get_unseen_movies(ratings_matrix, 9)
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                       pred_score
title
Rear Window (1954)                                       5.704612
South Park: Bigger, Longer and Uncut (1999)              5.451100
Rounders (1998)                                          5.298393
Blade Runner (1982)                                      5.244951
Roger & Me (1989)                                        5.191962
Gattaca (1997)                                           5.183179
Ben-Hur (1959)                                           5.130463
Rosencrantz and Guildenstern Are Dead (1990)             5.087375
Big Lebowski, The (1998)                                 5.038690
Star Wars: Episode V - The Empire Strikes Back (1980)    4.989601

### 08 파이썬 추천 시스템 패키지 - Surprise

In [62]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     -------------------------------------- 772.0/772.0 kB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: joblib>=1.0.0 in c:\users\lgpc\anaconda3\lib\site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lgpc\anaconda3\lib\site-packages (from scikit-surprise) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\lgpc\anaconda3\lib\site-packages (from scikit-surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-win_amd64.whl size=1086795 sha256=0d3785cae4caaf2e26bb3e0d92996f96beee026d054066cbfad7ab0888e2f8eb
  Stored in directory: c:\users\lgpc\appdata\local\pip\cache\wheels\10\bc\66\1e588b3f2aedb617b1bedc0f24981c917c95246a020c7c1975
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [63]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

In [64]:
data = Dataset.load_builtin('ml-100k')
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from https://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\lgpc/.surprise_data/ml-100k

In [65]:
algo = SVD(random_state=0)
algo.fit(trainset)

In [66]:
predictions = algo.test(testset)
print('prediction type : ', type(predictions), ' size : ', len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type :  <class 'list'>  size :  25000
prediction 결과의 최초 5개 추출

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.5114147666251547, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.573872419581491, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.033583485472447, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.8463639495936905, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.1807542478219157, details={'was_impossible': False})]

In [67]:
[ (pred.uid, pred.iid, pred.est) for pred in predictions[:3]]

[('120', '282', 3.5114147666251547),
 ('882', '291', 3.573872419581491),
 ('535', '507', 4.033583485472447)]

In [68]:
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
print(pred)

user: 196        item: 302        r_ui = None   est = 4.49   {'was_impossible': False}

In [69]:
accuracy.rmse(predictions)

RMSE: 0.9467

0.9466860806937948

In [70]:
# OS 파일 데이터를 Surprise 데이터 세트로 로딩
import pandas as pd

ratings = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings.csv")
ratings.to_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings_noh.csv", index=False, header=False)

In [72]:
from surprise import Reader
reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5,5))
data=Dataset.load_from_file("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings_noh.csv", reader=reader)

In [73]:
trainset, testset = train_test_split(data, test_size=0.25, random_state=0)
algo = SVD(n_factors=50, random_state=0)

algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [75]:
# 판다스에서 surprise 데이터 세트 로딩
import pandas as pd
from surprise import Reader, Dataset
ratings = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings.csv")
reader = Reader(rating_scale=(0.5,5.0))

data = Dataset.load_from_df(ratings[['userId','movieId','rating']],reader)
trainset, testset = train_test_split(data, test_size=0.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [77]:
# 교차 검증
from surprise.model_selection import cross_validate

ratings = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings.csv")
reader = Reader(rating_scale=(0.5,5.0))
data = Dataset.load_from_df(ratings[['userId','movieId','rating']],reader)

algo = SVD(random_state=0)
cross_validate(algo, data, measures=['RMSE','MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8688  0.8809  0.8679  0.8758  0.8726  0.8732  0.0048
MAE (testset)     0.6697  0.6765  0.6686  0.6715  0.6695  0.6712  0.0028
Fit time          1.25    1.27    1.14    1.18    1.26    1.22    0.05
Test time         0.19    0.11    0.11    0.11    0.33    0.17    0.08

{'test_rmse': array([0.86875695, 0.88092589, 0.86790862, 0.87578182, 0.87258328]),
 'test_mae': array([0.66974362, 0.67645239, 0.66859186, 0.67147973, 0.6695167 ]),
 'fit_time': (1.2468829154968262,
  1.266901969909668,
  1.143115520477295,
  1.1784496307373047,
  1.2616961002349854),
 'test_time': (0.18950223922729492,
  0.10977721214294434,
  0.1093595027923584,
  0.10973310470581055,
  0.32735419273376465)}

In [78]:
# 하이퍼 파라미터 튜닝
from surprise.model_selection import GridSearchCV

param_grid = {'n_epochs':[20,40,60], 'n_factors':[50,100,200]}

gs = GridSearchCV(SVD, param_grid, measures=['rmse','mse'],cv=3)
gs.fit(data)

print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.8776388808022743
{'n_epochs': 20, 'n_factors': 50}

In [79]:
from surprise.dataset import DatasetAutoFolds
reader=Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5,5))
data_folds = DatasetAutoFolds(ratings_file="C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/ratings_noh.csv", reader=reader)
trainset=data_folds.build_full_trainset()

In [80]:
algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(trainset)

In [81]:
movies = pd.read_csv("C:/Users/lgpc/Downloads/ml-latest-small/ml-latest-small/movies.csv")
movidIds = ratings[ratings['userId']==9]['movieId']

In [84]:
if movidIds[movidIds==42].count()==0:
    print('사용자 아이디 9는 영화 아이디 42의 평점 없음')
print(movies[movies['movieId']==42])

사용자 아이디 9는 영화 아이디 42의 평점 없음
    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

In [85]:
uid = str(9)
iid = str(42)

pred = algo.predict(uid, iid, verbose=True)

user: 9          item: 42         r_ui = None   est = 3.13   {'was_impossible': False}

In [86]:
def get_unseen_surprise(ratings, movies, userId):
    seen_movies = ratings[ratings['userId']==userId]['movieId'].tolist()
    total_movies = movies['movieId'].tolist()
    unseen_movies = [movie for movie in total_movies if movie not in seen_movies]
    print('평점 매긴 영화 수 : ', len(seen_movies), ' 추천 대상 영화 수 : ', len(unseen_movies), ' 전체 영화 수 : ', len(total_movies))
    return unseen_movies
unseen_movies = get_unseen_surprise(ratings, movies, 9)

평점 매긴 영화 수 :  46  추천 대상 영화 수 :  9696  전체 영화 수 :  9742

In [87]:
def recomm_movie_by_surprise(algo, userId, unseen_movies, top_n=10):
    predictions = [algo.predict(str(userId), str(movieId)) for movieId in unseen_movies]
    def sortkey_est(pred):
        return pred.est
    predictions.sort(key=sortkey_est, reverse=True)
    top_predictions = predictions[:top_n]
    
    top_movie_ids = [int(pred.iid) for pred in top_predictions]
    top_movie_rating = [pred.est for pred in top_predictions]
    top_movie_titles = movies[movies.movieId.isin(top_movie_ids)]['title']
    
    top_movie_preds = [ (id, title, rating) for id, title, rating in zip(top_movie_ids, top_movie_titles, top_movie_rating)]
    return top_movie_preds

unseen_movies = get_unseen_surprise(ratings, movies, 9)
top_movie_preds = recomm_movie_by_surprise(algo, 9, unseen_movies, top_n=10)
print('##### Top-10 추천 영화 리스트 #####')
for top_movie in top_movie_preds:
    print(top_movie[1], ":", top_movie[2])

평점 매긴 영화 수 :  46  추천 대상 영화 수 :  9696  전체 영화 수 :  9742
##### Top-10 추천 영화 리스트 #####
Usual Suspects, The (1995) : 4.306302135700814
Star Wars: Episode IV - A New Hope (1977) : 4.281663842987387
Pulp Fiction (1994) : 4.278152632122759
Silence of the Lambs, The (1991) : 4.226073566460876
Godfather, The (1972) : 4.1918097904381995
Streetcar Named Desire, A (1951) : 4.154746591122658
Star Wars: Episode V - The Empire Strikes Back (1980) : 4.122016128534504
Star Wars: Episode VI - Return of the Jedi (1983) : 4.108009609093436
Goodfellas (1990) : 4.083464936588478
Glory (1989) : 4.07887165526957